.spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    color: lightgray;
}
.logout-icon {
    height: 15px;
}
@media (max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}
