<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>YANG Catalog Admin</span>
  <span class="spacer"></span>
  <div *ngIf="authService.logged">
    <a mat-button routerLink="/healthcheck">Healthcheck</a>
    <a mat-button routerLink="/logs">Logs</a>
    <a mat-button routerLink="users-management">Users</a>
    <a mat-button routerLink="/config">Config</a>
    <a mat-button routerLink="/nginx-config">Nginx</a>
    <a mat-button routerLink="/files">Files</a>
    <a mat-button routerLink="/scripts">Actions</a>
    <a mat-raised-button color="accent" (click)="onLogOutClick()">Logout
      <img class="logout-icon" src="assets/img/logout.svg" alt="logout icon" />
    </a>
  </div>
</mat-toolbar>