<h1 class="component-h1 primary-color">Edit Redis Document</h1>

<mat-card *ngIf="isLoading">
  <mat-spinner class="mx-auto"></mat-spinner>
</mat-card>

<ng-container *ngIf="!error">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="redisForm" novalidate autocomplete="off">
    <mat-form-field class="w-100">
      <mat-label>Redis Key</mat-label>
      <input matInput formControlName="redis-key" />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="isTableLoading" class="loader-button">
      <span [hidden]="isTableLoading">Load</span>
      <app-loader [isLoading]="isTableLoading"></app-loader>
    </button>
  </form>

  <app-text-editor #textEditor *ngIf="!isLoading" [text]="redisText" (saveConfirm)="saveChange($event)"></app-text-editor>
</ng-container>

<div *ngIf="error">
  Error while loading.
</div>
