<mat-card class="hc-card">
  <mat-card-header [style.background-color]="statusColor">
    <mat-card-title>
      <div class="title-actions-wrap ml-2 d-flex flex-nowrap align-items-center">
        {{ cronjobName }}&nbsp;
        <mat-icon *ngIf="errorMessage" class="cursor-pointer" (click)="onErrorInfoClick()">info</mat-icon>
        <mat-icon *ngIf="infoMessages && infoMessages.length > 0" class="cursor-pointer" (click)="onMessageInfoClick()">info</mat-icon>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-spinner *ngIf="isLoading; else card" class="mx-auto"></mat-spinner>
    <ng-template #card>
      <div>
        <b>Start:</b>&nbsp;
        <span>{{ startDate | date:'MMM d, y, H:mm':'UTC' }} UTC</span>
      </div>
      <div>
        <b>End:</b>&nbsp;
        <span>{{ endDate | date:'MMM d, y, H:mm':'UTC' }} UTC</span>
      </div>
      <div *ngIf="lastSuccessfullDate">
        <b>Last successfull:</b>&nbsp;
        <span>{{ lastSuccessfullDate | date:'MMM d, y, H:mm':'UTC' }} UTC</span>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
