/* You can add global styles to this file, and also import other style files */
@import './src/scss/_variables';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.primary-color {
    color: $primary !important;
}

.component-h1 {
    font-size: 35px;
    font-weight: 250;
}

.loader {
    margin: 0 auto;
}

.loader-button {
    height: 50px;
    width: 120px;
}

.cursor-pointer {
  cursor: pointer;
}


// Files tab
.files-item {
  font-size: 26px;
}

.files-item-meta {
  font-size: 14px;
  height: 20px;
  position: relative;
  top: 11px;
}
// END Files tab

// remove arrows on input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
