<h1 class="component-h1 primary-color">Services Healthcheck</h1>

<mat-card *ngIf="isLoading; else dashboard">
  <mat-spinner class="mx-auto"></mat-spinner>
</mat-card>

<ng-template #dashboard>
  <div *ngIf="servicesList.length > 0" class="hc-dashboard">
    <app-healthcheck-card *ngFor="let service of servicesList" [service]="service"></app-healthcheck-card>
  </div>

  <div *ngIf="cronjobsList.length > 0">
    <h1 class="component-h1 primary-color">Cronjobs Healthcheck</h1>
    <div class="hc-dashboard">
      <app-cronjob-card *ngFor="let cronjobName of cronjobsList" [cronjobData]="cronjobsData[cronjobName]"
        [cronjobName]="cronjobName">
      </app-cronjob-card>
    </div>
  </div>
</ng-template>

<div *ngIf="error">
  Error while loading.
</div>
