.hc-dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.hc-dashboard > app-healthcheck-card{
    flex: 1 1 20%;
    height: 250px;
    padding: 10px;
}

.hc-dashboard > app-cronjob-card{
    flex: 1 1 20%;
    height: 250px;
    padding: 10px;
}
