<mat-card>
  <mat-card-content>
    <h2 class="mb-2">Check job status</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate autocomplete="off" class="mb-2">
      <mat-form-field class="w-100 mb-2">
        <mat-label>Job ID</mat-label>
        <input matInput formControlName="jobId">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" class="mb-2" [disabled]="form.invalid">
        <span [hidden]="isLoading">Submit</span>
        <app-loader [isLoading]="isLoading"></app-loader>
      </button>
    </form>
    <ng-container *ngIf="!isLoading">
      <div *ngIf="response">
        <div>
          <b>Status:</b>&nbsp;{{response.info.result}}
        </div>
        <div>
          <b>Reason:</b>&nbsp;{{response.info.reason}}
        </div>
      </div>

      <div *ngIf="error">
        Error while loading.
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
