<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
  <div *ngIf="!editing">
    <button mat-raised-button (click)="enableEdit()" class="mb-2" color="primary">Edit</button>
  </div>
  <div *ngIf="editing">
    <button mat-raised-button type="submit" class="mb-2 bg-success text-white">
      <span [hidden]="isLoading">Save</span>
      <app-loader [isLoading]="isLoading"></app-loader>
    </button>
    <button mat-raised-button (click)="cancelChanges()" class="mb-2 ml-2">Cancel</button>
  </div>
  <div *ngIf="success" class="alert alert-success" role="alert">
    Saved!
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    Error! Check input.
  </div>
  <textarea #textarea class="textarea" formControlName="text" style="height:500px"></textarea>
</form>
