<div>
  <div class="d-flex flex-nowrap">
    <div class="files-item">
      <mat-icon [inline]="true">text_snippet</mat-icon>
    </div>
    <div class="files-item pl-2">{{file.name}}&nbsp;</div>
    <div class="file-actions-wrap files-item ml-2 d-flex flex-nowrap align-items-center">
      <mat-icon class="cursor-pointer" (click)="onEdit()">edit</mat-icon>
      <mat-icon class="cursor-pointer" (click)="onDelete()">delete</mat-icon>
      <mat-icon class="cursor-pointer" (click)="onPermission()">perm_identity</mat-icon>
    </div>
    <div class="ml-2 files-item-meta">
      (<b>size:</b>&nbsp;{{file.size | bytes}},&nbsp;
      <b>modification:</b>&nbsp;{{modificationDate | date:'MMM d, y, H:mm'}} UTC,&nbsp;
      <b>permissions:</b>&nbsp;{{file.permissions}},&nbsp;
      <b>group:</b>&nbsp;{{file.group}},&nbsp;
      <b>user:</b>&nbsp;{{file.user}})
    </div>
  </div>
</div>
