<mat-card *ngIf="!isLoadingScripts && !errorLoadingScripts" class=" mb-4">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Select job to run</mat-label>
      <mat-select [(value)]="selectedScript" (selectionChange)="onScriptSelectChange()">
        <mat-option *ngFor="let script of scripts" [value]="script">
          {{script}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="help-card" *ngIf="help">
      <mat-icon class="help-icon">help</mat-icon>
      <p>{{ help }}</p>
    </div>
  </mat-card-content>
</mat-card>

<div *ngIf="(!isLoadingScripts && errorLoadingScripts) || (!isLoadingOptions && errorLoadingOptions)">
  Error while loading.
</div>

<mat-card *ngIf="!isLoadingOptions && scriptOptions" class="mb-4">
  <mat-card-content>
    <h2 class="mb-4">Options</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
      <ng-container *ngFor="let opt of scriptOptions | keyvalue">
        <div *ngIf="opt.value.type === 'bool'" class="mb-2" [title]="scriptOptionsHelp[opt.key]">
          <mat-checkbox formControlName="{{opt.key}}" class="mr-4" color="primary">{{opt.key | labelParser}}
          </mat-checkbox>
        </div>

        <div *ngIf="opt.value.type !== 'bool'" [title]="scriptOptionsHelp[opt.key]">
          <mat-form-field class="form-field mb-2">
            <mat-label>{{opt.key | labelParser}}</mat-label>
            <input *ngIf="opt.value.type === 'str'" type="text" matInput formControlName={{opt.key}}>
            <input *ngIf="opt.value.type === 'int'" type="number" step="1" matInput formControlName={{opt.key}}>
          </mat-form-field>
        </div>
      </ng-container>
      <div class="pt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Execute</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="mb-4" *ngIf="isLoadingScripts || isLoadingOptions || isLoadingExecute">
  <mat-spinner class="mx-auto"></mat-spinner>
</mat-card>

<div class="mb-4" *ngIf="errorExecute" class="alert alert-danger" role="alert">
  Error!
  <button type="button" (click)="clearAlert()" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="mb-4" *ngIf="successExecute" class="alert alert-success" role="alert">
  Job has started!
  <br>
  <b>Job ID:</b>&nbsp;{{jobIdToCopy}}&nbsp;<span class="cursor-pointer alert-link"
    [cdkCopyToClipboard]="jobIdToCopy">copy</span>
  <button type="button" (click)="clearAlert()" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
