<div>
  <div class="d-flex flex-nowrap">
    <div class="d-flex cursor-pointer" (click)="toggle()">
      <div class="files-item">
        <mat-icon [inline]="true" *ngIf="!closed">folder_open</mat-icon>
        <mat-icon [inline]="true" *ngIf="closed">folder</mat-icon>
      </div>
      <div class="files-item pl-2">{{folder.name || '/'}}</div>
    </div>
    <div class="folder-actions-wrap files-item ml-2 d-flex flex-nowrap align-items-center">
      <mat-icon *ngIf="folder.name" class="cursor-pointer" (click)="onPermission()">perm_identity</mat-icon>
    </div>
    <div class="files-item" *ngIf="isLoading">-&nbsp;loading&nbsp;…&nbsp;</div>
    <div *ngIf="!isRoot" class="files-item-meta">
      (<b>size:</b>&nbsp;{{folder.size | bytes}},&nbsp;
      <b>modification:</b>&nbsp;{{modificationDate | date:'MMM d, y, H:mm'}} UTC,&nbsp;
      <b>permissions:</b>&nbsp;{{folder.permissions}},&nbsp;
      <b>group:</b>&nbsp;{{folder.group}},&nbsp;
      <b>user:</b>&nbsp;{{folder.user}})
    </div>
  </div>

  <div class="ml-4" [hidden]=closed>
    <app-file *ngFor="let file of content.files; trackBy: trackName" [file]=file [parentPath]="newPath"></app-file>
    <app-folder *ngFor="let folder of content.folders; trackBy: trackName" [folder]=folder [parentPath]="newPath">
    </app-folder>
  </div>
</div>
